@CHARSET "UTF-8";
	label {
		display: block;
		font-weight: 600;
		background-color: #e3f2fd;
		padding: 8px;
		margin-bottom: 20px;
		border-radius: 5px;
	}
	thead {
		background-color: #DCDCDC;
	}
	input{
		margin: 0px 5px;
	}
	select {
		width: 100px;
		height: 30px;
		margin: 0px 5px;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	a:hover {
		text-decoration: none;
	}
	.main{
		width: 80%;
		margin: 0 auto;	
		margin-top: 100px;
	}
	.selection {
		overflow: hidden;
		margin-bottom: 20px;
	}
	.inputs {
		margin: 0px 5px;

	}
	
	.notes {
		display: inline-block;
	}
	.btn-primary {
		border-radius: 5px;		
	}
	.btn-primary:hover {
		cursor: pointer;
	}
	.footer {
		overflow: hidden;
		margin: 20px auto;
		text-align: center;
	}
	.info {
		display: inline-block;
	}
	#topage {
		width: 40px;
		height: 20px;
	}
	.myb {
		display: inline-block;
		height: 24px;
		line-height: 24px;
		width: 50px;
		margin: 0px 10px;
		padding: 0px;
		margin-top: -5px;
	}
	.pages {
		z-index: 2;
		width: auto;
		display: inline-block;
		list-style: none;
		overflow: hidden;
		margin: 0px auto;
		user-select: none;

	}
	.pageextremity {
		border: 1px solid #DCDCDC;
		float: left;	
		margin: 0 8px;
	}
	.pageitem {
		position: relative;
		display: inline-block;
		border: 1px solid #DCDCDC;
		float: left;
		margin-left: -1px;
	}
	.pageitem:hover {
		background-color: #DCDCDC;
	}
	.pagelink {
		padding: 10px 14px;
		display: block;
		font-size: 18px;
	}
	.pageitemfocu {
		z-index: 3;
		position: relative;
		border: 1px solid #DCDCDC;
		float: left;
		margin-left: -1px;
		color: white;
		background-color: #0066CC;
	}
	.do {
		display: inline-block;
	}
	.do:hover {
		color: grey;
	}
	p {
		color: grey;
	}